<!DOCTYPE html>
<html>
  <head>
    <title>Googlemap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&libraries=places"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
